.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

$primary-color: red;

body {
  font-family: Arial, sans-serif;
  color: $primary-color;
  padding: 20px;

  h1 {
    color: purple;
  }
}